<div class="hero-wrap hero-bread"
            style="background-image: url(<%= asset_path 'bg_6.jpg'%>); z-index: -1;">      
          <div class="container">
            <div
              class="row no-gutters slider-text align-items-center justify-content-center"
            >
              <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><%= link_to 'home', home_index_path%></span>
                  <span>Registration</span>
                </p>
                <h1 class="mb-0 bread">Registration</h1>
              </div>
            </div>
          </div>      
        </div>

  <section class="mt-5" style="background-color:">
    <div class="container-fluid">
    <h2 class="text-center">Forgot your password?</h2>

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-4 col-xl-5">
            <%= render "devise/shared/error_messages", resource: resource, class:"alert alert-warning"%>                                 

             <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw1.webp"
                class="img-fluid" alt="Sample image">

          </div>
          <div class="col-md-8 cols-lg-8 col-xl-4 offset-xl-0">
             <div class="form-outline mb-4">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%#= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="actions mt-3">
                  <%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;"%>
                </div>

                <div class="display-inline mt-3">
                  <%= link_to "Log in", new_session_path(resource_name), class:"btn btn-primary btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
                  <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-primary btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;"%><br />
                </div>
                <%#= render "devise/shared/links" %>

              <% end %>
             </div>
          </div>
      </div>
    </div>
  </section>



