<div class="container mt-5">
      <%= form_with(model: shoe) do |form| %>
      <% if shoe.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

          <ul>
            <% shoe.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= form.label :category, style: "display: block" %>
        <%= form.text_field :category_id%>
      </div>

      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :brand, style: "display: block" %>
        <%= form.text_field :brand %>
      </div>

      <div>
        <%= form.label :size, style: "display: block" %>
        <%= form.text_field :size %>
      </div>

      <div>
        <%= form.label :active, style: "display: block" %>
        <%= form.text_field :active %>
      </div>

      <div>
        <%= form.label :file, style: "display: block" %>
        <%= form.file_field :file %>
      </div>
      <div class="mt-4"> 
        <%= form.submit %>
      </div>
      <% end %>

</div>