<div id="<%= dom_id shoe %>">
    <a href="#" class="img-prod">

      <%= image_tag shoe.file, class: 'img-fluid' %>
          <%# <div class="overlay"></div> %>
    </a>
      <div class="text py-3 pb-4 px-3">
                <div class="d-flex">
                  <div class="cat">
                    <span>Lifestyle</span>
                  </div>
                  <div class="rating">
                    <p class="text-right mb-0">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <h3><a href="#"><%= shoe.name%></a></h3>
                <div class="pricing">
                  <p class="price"><span><%= shoe.price%></span></p>
                </div>
                <p class="bottom-area d-flex px-3">
                  
                  <%# <%= link_to 'Add to cart', carts_show_path, class:"add-to-cart text-center py-2 mr-1">
                   <i class:"ion-ios-add ml-1"></i>%>  

                  <a href="#" class="add-to-cart text-center py-2 mr-1"
                    ><span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></a> 
                  <a href="#" class="buy-now text-center py-2"
                    >Buy nobinw<span><i class="ion-ios-cart ml-1"></i></span
                  ></a>
                </p>
      </div>
</div>
